body {
  background:#0E1217 ;
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
  
}

.card {
  background: #1C1F26;
  border: 1px solid #2f3336;
  border-radius: 16px;
  color: white;
  padding: 1em !important;
  width: 301px;
  height: 404px;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.card:hover, .card:focus-within, .card:active {
  box-shadow: 0 0 0 4px inherit, 0 0 24px 4px inherit;
  border-color: #a19d9d;
}

.card-header {
  justify-content: space-between;
  align-items: flex-start;
  text-align: left; 
  margin-bottom: 12px;
  gap: 10px;
}

.avatar-row {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.read-post {
  width: 92.5px;
  height: 32px;
  margin-left: auto;
  background: white;
  color: black;
  padding: 0 12px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-size: 18px;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
  white-space: nowrap;
}
.avatar-row:hover .read-post,
.card:hover .read-post {
  opacity: 1;
}
.tags {
  margin-top: 8px;
  display: flex;
  justify-content: flex-start;
}

.tags span {
  background: #22303c;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 12px;
  margin-right: 6px;
  
}

.date {
  font-size: 12px;
  color: #8899a6;
  margin: 8px 0;
   text-align: left;
}

.preview img {
  width: 100%;     
  height: auto;    
  border-radius: 12px;
  object-fit: cover; 
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  font-size: 14px;
  color: #ccc;
  height: 40px;
}
.footer > div {
  flex: 1 1 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.footer svg {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  display: inline-block;
  vertical-align: middle;
}
.absolute {
    position: absolute;
}
.h-full {
    height: 100%;
}